@keyframes bounce {
  0% {
    transform: translateY(0) perspective(100px) rotateY(0deg);
    opacity: 1;
  }
  50% {
    transform: translateY(-30px) perspective(100px) rotateY(180deg);
    opacity: 0.2;
  }
  100% {
    transform: translateY(0) perspective(100px) rotateY(360deg);
    opacity: 0;
  }
}
html,
.app {
  background-color: black;
  overflow: hidden;
}
body {
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
  width: 100%;
}

.note,
.rest {
  &.quarter {
    margin-right: 3vw;
  }
  &.eight {
    margin-right: 1.5vw;
  }

  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  flex-shrink: 1;
  justify-content: space-around;
  position: relative;
  float: left;
  align-self: center;
}

.app {
  display: relative;
  height: 80vh;
  margin-bottom: 10vh;
  margin-top: 10vh;
}
.measure-wrapper {
  width: 70%;
  max-width: 1000px;
  height: 25%;
  margin: auto;
}
@media screen and (max-width: 1000px) {
  .measure-wrapper {
    width: 95%;
  }
  .app {
    height: 80vh;
    margin-bottom: 15vh;
    margin-top: 5vh;
  }
}
@media screen and (min-width: 1500px) {
  .measure-wrapper {
    width: 50%;
  }
}

.measure {
  list-style: none;
  float: left;
  width: 100%;
  position: relative;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  border-left: 3px lightgrey solid;
  outline-offset: 5px;
  top: 45%;
  transform: translateY(-45%);
  padding: 0;
}

.note.animate {
  animation: bounce 0.5s ease-in-out;
  animation-fill-mode: both;
}

.quarter {
  height: 10vh;
  width: 8vw;
  flex-grow: 2;

  &.rest {
    height: 8vh;
    width: 5vw;
  }
}

.eight {
  &.note {
    height: 6.7vh;
    width: 4.5vw;
  }

  &.rest {
    height: 5vh;
    width: 3vw;
  }
}

.note-img {
  overflow: hidden;
}

.measure:before {
  content: "";
  position: absolute;
  bottom: 45%;
  border-bottom: 2px lightgrey solid;
  width: 100%;
  z-index: 0;
}
